// body{
// font-family: Verdana,Geneva,sans-serif
// // #background-image:url'(reina-wood.png);
// // #background-image:url'(upfeathers.png);
// // background-image: url"upfeathers.pgn"
//  background-image: url'upfeathers.pgn'
// }

.alert_purple{
background-color:purple 
}


body{
  font-family: Geneva,Tahoma,Verdana,sans-serif;
	color: SteelBlue;
		text-align: left; 

	// padding: 30px;
	// font-size: 16px;
	// font-family: Candara, Calibri, Segoe, "Sege UI", Optima, Arial, sans-serif;
	// background-image: url"upfeathers.pgn"
}

header {
	text-align: center;
	// margin-bottom: 40px;
}

h1 { font-size: 6px;
		padding: 10px;
		text-align: left; 
	 // font-weight: 700;}

h2
{ color: white;
padding: 20px;
text-align: left; 
	font-size: 8px; 
	width: 400px; 

	margin-bottom: 40px;
	background: SteelBlue; 
	}

h3
{ color: white;
	font-size: 10px; 
	width: 400px; 
			padding: 10px;
	// padding: 10px;
	// margin-bottom: 40px;
	background: SteelBlue;
	text-align: left; 
		text-align: left; 

	}

h4
{ color: white;
		font-size: 10px; 
	width: 150px; 
	// padding: 10px;
	// margin-bottom: 40px;
	background: SteelBlue; 
	}


// .email
// {
// 	font-size:24 px;
// }

footer
{
	background-color: reina-wood
}
	// text-align: left

	
}